.btn-load-more {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 15px;
  font-size: 12px;
  text-transform: uppercase;
  height: 28px;
  line-height: 29px;
  padding: 0 28px;
  cursor: pointer;
  margin-bottom: 75px;
  transition: .4s;
}